
.example-button-row {
  display: flex;
  text-align:left;
  justify-content: center;
}
ion-icon.pin {
  border-style: solid;
  border-color: #1A237E;
  border-width: 1px 0px 1px 1px;
  height: 43px;
  padding: 0 15px;
}
ion-input.input-text {
  border-style: solid;
  border-color: #1A237E;
  border-width: 1px 0px 1px 1px;
  max-width: 240px;
}

ion-button.search-button {
  margin: 0px;
  height: 45px;
}
div.logo{
  padding-top: 60px;
  margin: 0 !important;
  text-align: center !important;
  justify-content: center !important;
}
.logo img {
  border-radius: 100%;
  max-width: 350px;;
  text-align: center !important;
  justify-content: center !important;
  padding: 60px;
}